extends layout

block content
  h1= title
  p Track your climbs!
  img(src="/images/emily.png", alt="Climbing photo", style="max-width: 100%; height: auto; display: block; margin: 20px auto;")

  h2 UPDATED CONTENT

  p This is what you've logged:

  ul
    li #[strong Climbs so far!:] !{climb_count}
    li #[strong Location total:] !{location_count}
    li #[strong Walls:] !{wall_count}
