html {

  font-size: 10px;
	
  font-family: "Bebas Neue", sans-serif;
    background-color: #020522;
  
  h1 {
  font-size: 60px;
  text-align: center;
  color: #581b2f;}
  h2 {
  font-size: 40px;
  text-align: center;
  color: #3b3779;
}

p,
li {
  font-size: 24px;
  line-height: 4;
  letter-spacing: 2px;
  text-align: center;
  color: #9759af;
}
a,
li {
  font-size: 20px;
  line-height: 4;
  letter-spacing: 2px;
  color: #9759af;

}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #082d5b;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #669ef2;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.col-sm-2 {
  width: 25%;
  background-color: #16031d;
  min-height: 100vh; 
  padding-top: 20px; 
}

.sidebar-nav {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.sidebar-nav a {
  display: block;
  padding: 8px 15px;
  font-size: 0.85rem; 
  color: white; 
  text-decoration: none;
}

.sidebar-nav a:hover {
  background-color: #585472; 
  color: white;
}
th {
  color: #21133f;
}
td {
  color: #b0cfa3;
}
label {
  color: #a4c7eb; 
}
dt {
  color: #180d3d; 
  font-weight: bold;
}

dd {
  color: #d0e6c8; 
  margin-left: 20px; 
}
}